button {
    margin-bottom: 50px;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    @include shadow-card;
    cursor: pointer;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
}
.button-page1 {
    text-align: center;
    margin-top: 40px;
    button {
        padding: 15px 45px;
    }
}