button {
    margin-bottom: 50px;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    @include shadow-card;
    cursor: pointer;
    background-image: linear-gradient(320deg, darken($primary-color, 20%), $primary-color, darken($secondary-color, 10%), $secondary-color);
    background-size: 200%;
    background-position: left 60% top 10%;
    transition: background-position 0.5s;
    &:hover {
        background-position: right 5% bottom 10%;    
    }
}
.button-pages {
    text-align: center;
    margin-top: 40px;
    button {
        padding: 15px 45px;
    }
}