button {
    margin-bottom: 50px;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    @include shadow-card;
    cursor: pointer;
    background: $primary-color;
    box-shadow: 0px 15px 45px 11px inset $secondary-color;
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    &:hover {
    background: $secondary-color;
    box-shadow: 0px 15px 45px 0px inset $primary-color;    
    }
}
.button-pages {
    text-align: center;
    margin-top: 40px;
    button {
        padding: 15px 45px;
    }
}