.menu-card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    .menu-card__text-description {
        // background-color: violet;
        padding: 10px;
        @include mobile-only {
            width: 227px;
        }
        p, h3 {
            // background-color: cyan;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .bloc-animation { // animation totale
        display: flex;
        justify-content: end;
        transform: translateX(55px);
        transition: transform 500ms ease-out;
        // background-color: crimson;
        &__price {
            // background-color: wheat;
            align-self: flex-end;
            font-weight: 500;
            padding: 10px;
            margin-right: 10px;
            @include mobile-only {
                margin-right: 10px;
            }
        }
        &__check { // le check vert
            background-color: $tertiary-color;
            @include flex-XY;
            width: 55px;
            p { // le rond blanc autour du check vert
                border-radius: 50%;
                background-color: white;
                width: 20px;
                height: 20px;
                @include flex-XY;
                i { // le check vert
                    color: $tertiary-color;
                    font-size: 10px;
                }            
            }
        }
    }
}
// code qui déclenche les animations check au hover de la carte (état final) //
.menu-card { //.menu-card__check-anim//
    &:hover .bloc-animation {
        transform: translateX(0px);
        @include mobile-only {
            transform: translateX(0px);
        }
    }    
    &:hover i {
        transform: rotate(360deg);
        animation: check-rotation 500ms ease-out forwards;
    }
}

@keyframes check-rotation {
    100% {
        opacity: 1;
        transform: none;
    }
}