.heart-logo {
    align-self: center;
    font-size: 25px;
    position: relative;
    .fas.fa-heart { // coeur plein
        position: absolute;
        left: 0.1px;
        top: 0.8px;
        cursor: pointer;
        background-image: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
        &:hover {
            animation: full-opacity 0.5s ease-out forwards;
        }
    }
}
@keyframes full-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}