.heart-logo {
    align-self: center;
    position: relative;
    text-align: center;
    .fas.fa-heart { // coeur plein
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background-image: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        &:hover {
            animation: plainHeart-appear 0.3s ease-out forwards;
        }
    }
}
@keyframes plainHeart-appear {
    100% {
        opacity: 1;
    }
}
