*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container-pages {
    width: 50%;
    margin: 0 auto;
    @include mobile-only {
        width: 90%;
    }
}

a {
    text-decoration: none;
    color: black;
}