@mixin flex-XY {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-X {
    display: flex;
    justify-content: center;
}
@mixin shadow-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

$breakpoints: (
    mobile: 768px,
    tablet: 1200px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)){
        @content;
    } 
}