@mixin flex-XY {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-X {
    display: flex;
    justify-content: center;
}
@mixin shadow-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}