main[class="pages"] {
    background-color: $bg-color-pages;
    .banner-restaurant {
        &__visual {
            position: relative;
        }
        &__image {
            height: 600px;
            @include tablet-only {
                height: 450px;
            }            
            @include mobile-only {
                height: 260px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;            
            }
        }    
        &__shape {
            height: 30px;
            background-color: $bg-color-pages;
            border-radius: 45px 45px 0 0;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 99;        
        }
        &__title {
            background-color: $bg-color-pages;
            .container-pages {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
                i {
                    font-size: 21px;
                }            
            }
        }        
    }
}
