footer {
    background-color: $bg-color-footer;
    padding: 25px 0;
    color: white;
    a {
        color: white;
    }
    .container {
        text-align: center;
        div {
            .footer-link {
                @include flex-X;
            }
        }        
    }
    .container-pages {
        text-align: center;
        div {
            .footer-link {
                @include flex-X;
            }
        }
    }
    .logo-footer-title {
        padding-bottom: 15px;
    }
    .logo-footer {
        width: 20px;
        i {
            font-size: 11px;
        }
    }
    .footer-link {
        padding: 5px;
    }
}