footer {
    background-color: $bg-color-footer;
    padding: 25px 0;
    color: white;
    .container {
        div {
            display: flex;
        }
        .logo-title {
            font-family: 'Shrikhand', cursive, sans-serif;
            font-weight: 300;
            font-size: 15px;
        }
    }
}