// header
header {
    height: 50px;
    .logo {
        width: 150px;
        img {
            width: 100%;
        }
    }    
}
.header-index {
    @include flex-XY;    
}
.header-pages {
    display: flex;
    justify-content: center;
    align-items: center;        
    position: relative;
    .arrow-link {
        position: absolute;
        left: 20px;
    }
}
