// Animation avant d'arriver sur la page d'accueil
.loading-spinner {
    background-color: $bg-color-pages;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999; //au début du chargement de la page le spinner est au dessus de la page index
    animation: spinner-final-index 9s ease-out forwards, spinner-disappear 0.1s 3s ease-out forwards;
    svg { //dispostion de l'icone spinner au milieu de la page
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 300px;
        path { 
            fill: transparent;
            stroke-width: 1;
            stroke: $primary-color;
            stroke-dasharray: 171; //création de pointillé plein
            // on augmente la valeur jusqu'a trouver celle qui fera en sorte qu'un seul pointillé soit de la taille totale du contour de l'icone (lettre par lettre)
            stroke-dashoffset: 171; //décallage du pointillé de 100% car même taille, on va avoir un pointillé blanc
            animation: animation-logo-spinner 2s linear forwards; //animation du logo, dash puis remplissage
        }
    }
}

@keyframes spinner-final-index {
    100% {
        z-index: -99999; // au bout de 9s la div qui contient le logo spinner passe derrière la page index
    }
}
@keyframes spinner-disappear { //
    100% {
        opacity: 0; //au bout de 3s la div spinner disparait, si on ne le fait pas on le voit toujours en arrière (index à -99999)
    }
}
@keyframes animation-logo-spinner { //l'animation du logo en lui même se fait en 2s
    0% {  
        stroke-dashoffset: 0; // pas de décallage donc trait plein de base
    }
    40% { //
        stroke-dashoffset: 171; // on fait entrer le pointillé vide et prend progressivement la place du pointillé plein
                                // on efface le logo progressivement à 40% le pointillé vide remplace completement le pointillé plein                    
    }
    80% {
        stroke-dashoffset: 342; // on fait entrer le pointillé plein, on reecrit le logo progressivement
        fill: transparent; // pour que le remplissage ne se fasse qu'à partir de 80% jusqu'a 100% avec la couleur définie
    }
    100% {
        stroke-dashoffset: 342;
        fill: $primary-color; //couleur de remplissage
        stroke: $primary-color; // couleur du contour
    }
}
// @keyframes animation-logo-spinner: 
// Voici les étapes de ce qui se passe en 2s d'animation:
// 0%: Le logo s'affiche puis commence à s'effacer progressivement
// 40%: Le logo est effacé puis commence à se réecrire progressivement
// 80%: Le logo est réécrit puis commence à prendre un fond de couleur
// 100%: Le logo est réécrit avec un fond de couleur