.loading-spinner {
    background-color: $bg-color-pages;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    opacity: 1;
    animation: spinner 9s ease-out forwards, opacity-spinner 0.1s 3s ease-out forwards;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 300px;
        path {
            fill: transparent;
            stroke-width: 1;
            stroke: $primary-color;
            stroke-dasharray: 170;
            stroke-dashoffset: 170;
            animation: animate-logo 2s linear forwards;
        }
    }
}

@keyframes spinner {
    100% {
        z-index: -99999;
    }
}
@keyframes opacity-spinner {
    100% {
        opacity: 0;
    }
}
@keyframes animate-logo {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 170;
    }
    80% {
        stroke-dashoffset: 340;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 340;
        fill: $primary-color;
        stroke: $primary-color;
    }
}