.location {
    text-align: center;
    background-color: $bg-color-pages;
    margin-bottom: 50px;
    .current-location {
        @include flex-XY;
        padding: 15px;
        background-color: darken( $bg-color-pages, 10% );
        div {
            padding-right: 13px;
        }
    }
    h2 {
        padding: 30px 0 10px 0;
        width: 250px;
        margin: 0 auto;
    }
    h3 {
        padding: 0 15px 25px 15px;
        font-size: 17px;
    }
    button {
        margin-bottom: 50px;
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        color: white;
        font-weight: 500;
        font-size: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: linear-gradient(to top left, $primary-color, $secondary-color);
    }
}