.menu-restaurant {
    // ANIMATION lignes 2 à 68
    &:nth-child(1) {
        opacity: 0;
        transform: translateY(10px);
        animation: apparition 0.6s ease-out forwards;
        .menu-card {
            &.menu-card1 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 0.2s ease-out forwards;            
            }
            &.menu-card2 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 0.4s ease-out forwards;            
            }
            &.menu-card3 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 0.6s ease-out forwards;            
            }
            &.menu-card4 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 0.7s ease-out forwards;            
            }
        }
    }
    &:nth-child(2) {
        opacity: 0;
        transform: translateY(10px);
        animation: apparition 0.6s 0.8s ease-out forwards;
            .menu-card {
                &.menu-card1 {
                    opacity: 0;
                    transform: translateY(10px);
                    animation: apparition 0.6s 1s ease-out forwards;            
                }
                &.menu-card2 {
                    opacity: 0;
                    transform: translateY(10px);
                    animation: apparition 0.6s 1.2s ease-out forwards;            
                }
                &.menu-card3 {
                    opacity: 0;
                    transform: translateY(10px);
                    animation: apparition 0.6s 1.4s ease-out forwards;            
                }
            }
    }
    &:nth-child(3) {
        opacity: 0;
        transform: translateY(10px);
        animation: apparition 0.6s 1.6s ease-out forwards;
        .menu-card {
            &.menu-card1 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 1.8s ease-out forwards;            
            }
            &.menu-card2 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 2s ease-out forwards;            
            }
            &.menu-card3 {
                opacity: 0;
                transform: translateY(10px);
                animation: apparition 0.6s 2.2s ease-out forwards;            
            }
        }
    }
    & > h3 {
        position: relative;
        margin-bottom: 20px;
        padding-top: 20px;
        &::after {
            content:"";
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
        }
    }
    .menu-card {
        display: flex;
        justify-content: space-between;
        background-color: white;
        cursor: pointer;
        border-radius: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        &:hover .menu-card__check-anim {
            transform: translateX(50px);
            animation: apparition 0.6s ease-out forwards;            
        }
        &:hover i {
            transform: rotate(360deg);
            animation: apparition 0.6s ease-out forwards;            
        }
        .menu-card--flex {
            background-color: yellow;
            display: flex;
            flex: 65% 1 0;
            justify-content: space-between;
            padding: 7px;
        }
        &__text-description {
            background-color: brown;
            flex-grow: 1;
            h3, p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include mobile-only {
                }                
            }
        }
        h3 {
            padding-bottom: 3px;
        }
        &__price {
            align-self: flex-end;
            font-weight: 500;
            padding: 0 10px 0 30px;
            background-color: aquamarine;
            flex-grow: 0;
        }
        &__check-anim {
            opacity: 0;
            background-color: $tertiary-color;
            @include flex-XY;
            flex-basis: 15%;

            p { // le rond blanc autour du check vert
                border-radius: 50%;
                background-color: white;
                width: 25px;
                height: 25px;
                @include flex-XY;
            i { // le check vert
                color: $tertiary-color;
            }            
            }
        }
    }
}

@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}
