// operation section
.operation {
    padding-bottom: 70px;
    text-align: center;
    h2 {
        margin-bottom: 30px;
    }
    .operation-card-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        .operation-card {
            display: flex;
            position: relative;
            margin: 0 0 20px 10px;
            width: 400px;
            @include mobile-only {
                width: 100%;
            }
            &__step {
                position: absolute;
                left: -10px;
                top: 50%;                
                color: white;
                font-size: 13px;
                padding-top: 3px;
                background-color: $primary-color;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                text-align: center;
                transform: translateY(-50%);
            }
            &__description {
                display: flex;
                background-color: $bg-color-pages;
                width: 100%;
                padding: 25px 20px;
                border-radius: 20px;
                @include shadow-card;
                &:hover {
                    background-color: lighten($primary-color, 30%);
                    div {
                        i {
                        color: $primary-color;                            
                        }
                    }
                    h4 {
                        color: $primary-color;
                    }
                }
                div {
                    padding-left: 20px;
                    @include flex-XY;
                    width: 35px;
                    i {
                        font-size: 19px;
                        color: darken($bg-color-pages, 50%);
                    }
                }
                h4 {
                    padding-left: 20px;
                }
            }
        }        
    }

}



