// location section
.location {
    text-align: center;
    background-color: $bg-color-pages;
    margin-bottom: 50px;
    .current-location {
        @include flex-XY;
        padding: 15px;
        background-color: darken( $bg-color-pages, 10% );
        div {
            padding-right: 13px;
        }
    }
    h2 {
        padding: 30px 0 10px 0;
        width: 250px;
        margin: 0 auto;
    }
    h3 {
        padding: 0 15px 25px 15px;
        font-size: 17px;
    }
    button {
        margin-bottom: 50px;
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        color: white;
        font-weight: 500;
        font-size: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: linear-gradient(to top left, $primary-color, $secondary-color);
    }
}

// operation section
.operation {
    h2 {
        margin-bottom: 30px;
    }
    .operation-card {
        display: flex;
        position: relative;
        margin: 0 0 20px 10px;
        &:nth-child(4) {
            .operation-card__description  {
                background-color: lighten($primary-color, 35%);
                div {
                    color: $primary-color;
                }
            }
        }
        &__step {
            color: white;
            font-size: 13px;
            padding-top: 3px;
            background-color: $primary-color;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
        }
        &__description {
            display: flex;
            background-color: $bg-color-pages;
            width: 100%;
            padding: 25px 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            div {
                padding-left: 20px;
                @include flex-XY;
                width: 35px;
            }
            h4 {
                padding-left: 20px;
            }
        }
    }
}



